<section class="section user-form-section">
  <div class="container">
    <h1 class="title is-4 has-text-centered">Log in</h1>

    <div class="columns">
      <div class="column is-4 is-offset-4">
        <div class="box">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email, class: 'label' %>

              <div class="control">
                <%= f.email_field :email, autofocus: true, class: 'input' %>
              </div>
            </div>

            <div class="field">
              <%= f.label :password, class: 'label' %>

              <div class="control">
                <%= f.password_field :password, autocomplete: "off", class: 'input' %>
              </div>
            </div>

            <div class="field">
              <%= f.submit 'Log in', class: 'button is-primary' %>
              <%= render "users/shared/links" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
